#content{width:90%;margin-left:5%;}

h1 {
	text-align: center;
	color: red;
}

.hit-button{
	background:#1856e7;
	color:white;
	padding:10px;
	text-decoration:none;
}

.hit-button:hover{
	background:#376cea;
}

.hit-button-wrap{
	margin:30px 10px;
}

.counter-text{
	position:relative;
}

.image-wrap{
	display:flex;
}

img{
	margin:0 20px;
	background:#fc2;
}