{% extends 'layout.html' %}

{% block content %}
<!-- Welcome -->
<section>
    <div class="wrap">
        <h2>Welcome to <span class="red">Louie's</span></h2>
        <p>Enjoy the old-school ambiance, original wooden booths sentimentally etched by our loyal customers, the black and white art deco floors worn by time, turn of the century tin ceilings and faded murals tell tale of a bygone era. Sit back, relax, enjoy the smell of simmering tomatoes and hot pizza, feel the warmth and camaraderie, hear the laughter and conversation of happy diners and you feel like you are home again, somewhere familliar, comfortable, affordable, family centered and “ORIGINAL”.</p>
    </div>
</section>
<!-- /Welcome -->

<!-- History -->

<!-- /History -->

<!-- Map -->

<!-- /Map -->

{% endblock content %}